
@media (max-width: 1025px) {
    /* header */
header {
    padding-inline: 32px;
}
}

@media (max-width: 900px) {
    .header_title{display: none;}
    .header_title_second, .fa-bars{display: block;}
    .nav_header{
        position: fixed;
        top: 96px;
        background-color: #B53B1B;
        left: -100%;
      width: 50%;
        height: 160px;
        padding: 25px 0  25px 20px;
    }
    .Show{
        left: 0;
    }
    .header_ul{
        flex-direction: column;
        row-gap: 30px;
    }
}

