






@media (max-width: 388px) {
    .section_first_title{
        font-size: 20px;
    }
    .section4_div_title{
        font-size: 24px;
    }
}



@media (max-width: 340px) {
    /* section 4 */
    .section4 {
        padding-inline: 15px;
    }
}